In [2]:
import pandas as pd
df = pd.read_csv('heart-disease.csv')
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
#Sepaarate our model data
data = df.drop("target",axis=1)

#Separate our target
target = df["target"]

In [5]:
# Task is to predict who has Heart disease (target=1)
from sklearn.ensemble import RandomForestClassifier

In [15]:
#Create the Model parameter
clf = RandomForestClassifier()

#Check the hyperparameters in our model
clf.get_params()

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 'warn',
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [16]:
# Traun Test Split
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(data,target,test_size=0.3)

In [18]:
# Fitting the model
clf.fit(X_train,Y_train);

C:\Users\SAN.000\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [20]:
#Making th prediction
prediction = clf.predict(X_test)

In [21]:
#Evaluate the model
clf.score(X_test,Y_test)

0.7692307692307693

In [24]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(Y_test,prediction))

              precision    recall  f1-score   support

           0       0.65      0.86      0.74        35
           1       0.89      0.71      0.79        56

    accuracy                           0.77        91
   macro avg       0.77      0.79      0.77        91
weighted avg       0.80      0.77      0.77        91

In [25]:
confusion_matrix(Y_test,prediction)

array([[30,  5],
       [16, 40]], dtype=int64)

In [26]:
accuracy_score(Y_test,prediction)

0.7692307692307693

In [30]:
#Improving the model (tunning hyperparameters)
np.random.seed(2)

for i in range(10,100,10):
    print(f"Traying model with {i} estimators,,")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test,Y_test) * 100}")
    print("")

Traying model with 10 estimators,,
Model accuracy on test set: 81.31868131868131

Traying model with 20 estimators,,
Model accuracy on test set: 83.51648351648352

Traying model with 30 estimators,,
Model accuracy on test set: 84.61538461538461

Traying model with 40 estimators,,
Model accuracy on test set: 83.51648351648352

Traying model with 50 estimators,,
Model accuracy on test set: 86.81318681318682

Traying model with 60 estimators,,
Model accuracy on test set: 81.31868131868131

Traying model with 70 estimators,,
Model accuracy on test set: 86.81318681318682

Traying model with 80 estimators,,
Model accuracy on test set: 83.51648351648352

Traying model with 90 estimators,,
Model accuracy on test set: 82.41758241758241

In [31]:
# Save this model
import pickle

pickle.dump(clf,open("RF_1.pkl","wb"))

In [33]:
#Loading the Saved Model
load_model = pickle.load(open("RF_1.pkl","rb"))
load_model.score(X_test,Y_test)

0.8241758241758241

### Getting the data ready to be used with ML

#(1) Split data into features and labels
#(2) Filling/handling missing values
#(3) Converting nonnumerical values to numerical values (Feature Encoding)

In [4]:
hd = pd.read_csv('heart-disease.csv')

In [5]:
X = hd.drop("target",axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [6]:
Y = hd["target"]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [8]:
#Splitting data
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [9]:
X_train.shape,Y_train.shape,X_test.shape,Y_test.shape

((242, 13), (242,), (61, 13), (61,))