In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
import warnings
warnings.filterwarnings("ignore")

In [2]:
train_data=pd.read_csv("C:\\Users\\SAN\\Desktop\\Imarticus Screenshots\\Python Codes\\Project  5 and 6\\Credit Risk\\Case Study\\Python_Module_Day_15.2_Credit_Risk_Train_data.csv")
test_data=pd.read_csv("C:\\Users\\SAN\\Desktop\\Imarticus Screenshots\\Python Codes\\Project  5 and 6\\Credit Risk\\Case Study\\Python_Module_Day_15.4_Credit_Risk_Validate_data.csv")

In [3]:
print (train_data.columns)
print (test_data.columns)

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')
Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'outcome'],
      dtype='object')

In [4]:
#As Dependent Column Name is different in both data sets , we will convert the name
test_data.rename(columns={"outcome": "Loan_Status"},inplace=True)

In [5]:
print(test_data.columns)

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [6]:
#Merging Train and test to a single data frame to clean data
all=pd.concat([train_data,test_data],axis=0)
all.shape

(981, 13)

In [7]:
print (all.tail())
all.reset_index(inplace=True,drop=True)# reset index else merging will have
#issues,

      Loan_ID Gender Married Dependents     Education Self_Employed  \
362  LP002971   Male     Yes         3+  Not Graduate           Yes
363  LP002975   Male     Yes          0      Graduate            No
364  LP002980   Male      No          0      Graduate            No
365  LP002986   Male     Yes          0      Graduate            No
366  LP002989   Male      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
362             4009             1777.0       113.0             360.0
363             4158              709.0       115.0             360.0
364             3250             1993.0       126.0             360.0
365             5000             2393.0       158.0             360.0
366             9200                0.0        98.0             180.0

     Credit_History Property_Area Loan_Status
362             1.0         Urban           Y
363             1.0         Urban           Y
364             NaN     Semiurban           Y
365             1.0         Rural           N
366             1.0         Rural           Y

In [8]:
#Find the missing values in the data set
all.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
#Filling Missing Values
Counter(all['Gender'])
#24 Missing Values for Gender Column

Counter({'Male': 775, 'Female': 182, nan: 24})

In [10]:
#Max Occurances is 'Male' so fill by male
gender_null = all[all['Gender'].isnull()].index.tolist()
print(gender_null)

[23, 126, 171, 188, 314, 334, 460, 467, 477, 507, 576, 588, 592, 636, 665, 720, 752, 823, 845, 859, 893, 910, 917, 932]

In [11]:
all['Gender'].iloc[gender_null]="Male"

In [12]:
#Check if all values are filled for Gender
print (sum(all['Gender'].isnull()))

0

In [13]:
#Filling Married Column
print (Counter(all['Married']))

Counter({'Yes': 631, 'No': 347, nan: 3})

In [14]:
married_null=all[all['Married'].isnull()].index.tolist()
all['Married'].iloc[married_null]="Yes"

In [15]:
#Check if all values are filled for Married
print (sum(all['Married'].isnull()))

0

In [16]:
#Filling Dependnts Column
Counter(all['Dependents'])
#25 missing values

Counter({'0': 545, '1': 160, '2': 160, '3+': 91, nan: 25})

In [17]:
#Compare Married and Dependents to find a relation
pd.crosstab(all['Married'],all['Dependents'].isnull())

Dependents  False  True
Married
No            338      9
Yes           618     16

In [18]:
pd.crosstab(all['Dependents'],all['Married'])

Married      No  Yes
Dependents
0           276  269
1            36  124
2            14  146
3+           12   79

In [19]:
#Fill the Bachelors with 0 as dependents
bachelor_nulldependent=all[(all['Married']=="No") & (all['Dependents'].isnull())].index.tolist()
all['Dependents'].iloc[bachelor_nulldependent]='0'

In [20]:
#for the remaining 16 missing depemdents,
#let see how mnay dependents Male & Female have
pd.crosstab(all['Gender'],all['Dependents'])

Dependents    0    1    2  3+
Gender
Female      127   32   13   9
Male        427  128  147  82

In [21]:
#Check the Gender of the dependents who have missing values
all['Gender'].iloc[all[all['Dependents'].isnull()].index.tolist()]

102      Male
104      Male
120      Male
226      Male
228      Male
301      Male
335      Male
346      Male
435    Female
517      Male
571      Male
660      Male
725      Male
816      Male
861      Male
865      Male
Name: Gender, dtype: object

In [22]:
all['Dependents'].iloc[all[all['Dependents'].isnull()].index.tolist()]="0"

In [23]:
all.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [24]:
#Missing Values in Self-Empolyeed
Counter(all['Self_Employed'])

Counter({'No': 807, 'Yes': 119, nan: 55})

In [25]:
self_null = all[all['Self_Employed'].isnull()].index.tolist()
print(self_null)

[11, 19, 24, 29, 30, 95, 107, 111, 114, 158, 170, 218, 231, 236, 268, 295, 333, 336, 344, 374, 380, 385, 411, 432, 447, 463, 468, 535, 542, 579, 600, 601, 622, 625, 627, 650, 686, 703, 756, 775, 782, 789, 806, 857, 869, 873, 890, 892, 899, 901, 908, 911, 915, 937, 940]

In [26]:
#fill missing selfemployed with NO
all['Self_Employed'].iloc[self_null]="No"

In [27]:
#Filling Loan Amount Missing Values
pd.crosstab(all['LoanAmount'].isnull(),all['Loan_Amount_Term'])

Loan_Amount_Term,6.0,12.0,36.0,60.0,84.0,120.0,180.0,240.0,300.0,350.0,360.0,480.0
LoanAmount,,,,,,,,,,,,
False,1,2,3,3,7,4,64,7,20,1,800,22
True,0,0,0,0,0,0,2,1,0,0,23,1

In [28]:
all.groupby(all['Loan_Amount_Term'])['LoanAmount'].mean()

Loan_Amount_Term
6.0       95.000000
12.0     185.500000
36.0     117.666667
60.0     139.666667
84.0     121.142857
120.0     36.750000
180.0    131.125000
240.0    128.857143
300.0    166.250000
350.0    133.000000
360.0    144.420000
480.0    137.181818
Name: LoanAmount, dtype: float64

In [29]:
#Fill the missing values in LoanAmount with the mean of the respective Loan_Term
#180 & 240 has the almost same Loan amount 128-131
#& 360 has high i.e 144
#so lets fill only 360 by 144 
#and all remaining by 130
all['LoanAmount'][(all['LoanAmount'].isnull()) & (all['Loan_Amount_Term']==360)]=144

In [30]:
all['LoanAmount'][(all['LoanAmount'].isnull())]=130

In [31]:
#Fill Loan Amount Term
all['Loan_Amount_Term'][all['Loan_Amount_Term'].isnull()]=360

In [32]:
all.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [33]:
all['Credit_History'].value_counts()

1.0    754
0.0    148
Name: Credit_History, dtype: int64

In [34]:
pd.crosstab(all['Gender'],all['Credit_History']) 
pd.crosstab(all['Self_Employed'],all['Credit_History'])

Credit_History  0.0  1.0
Self_Employed
No              134  658
Yes              14   96

In [35]:
#We will run Logistic Reg to Fill 79 missing values
#Creating the dummy variables
all_new=pd.get_dummies(all.drop(['Loan_ID'],axis=1),drop_first=True)

In [36]:
all_new.isnull().sum()

ApplicantIncome             0
CoapplicantIncome           0
LoanAmount                  0
Loan_Amount_Term            0
Credit_History             79
Gender_Male                 0
Married_Yes                 0
Dependents_1                0
Dependents_2                0
Dependents_3+               0
Education_Not Graduate      0
Self_Employed_Yes           0
Property_Area_Semiurban     0
Property_Area_Urban         0
Loan_Status_Y               0
dtype: int64

In [37]:
#Split the data to Train and test 
all_new=pd.get_dummies(all.drop(['Loan_ID'],axis=1),drop_first=True)
all_new.head()
#split test data with values having Creddit History as null
test=all_new[all_new['Credit_History'].isnull()]
all_in_test=test.index.tolist()
test.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
16,3596,0.0,100.0,240.0,NaN,1,0,1,0,0,1,0,0,1,1
24,3717,2925.0,151.0,360.0,NaN,1,1,1,0,0,0,0,1,0,0
30,4166,3369.0,201.0,360.0,NaN,1,1,1,0,0,0,0,0,1,0
42,2400,0.0,75.0,360.0,NaN,1,1,0,0,0,0,0,0,1,1
79,3333,2166.0,130.0,360.0,NaN,1,1,0,0,1,1,1,1,0,1

In [38]:
#Split the remaining data into training set
all_in_train=[x for x in all_new.index.tolist() if x not in all_in_test]
train=all_new.iloc[all_in_train]

In [39]:
X_train=train.drop(['Loan_Status_Y','Credit_History'],axis=1)
Y_train=train['Credit_History']

X_test=test.drop(['Loan_Status_Y','Credit_History'],axis=1)
Y_test=test['Credit_History']

In [40]:
#logistic regression
from sklearn.linear_model import LogisticRegression
log_reg=LogisticRegression()
log_reg.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [41]:
#Predtiction
pred=log_reg.predict(X_test)

In [42]:
#replace the Nan's in the test with these values
test['Credit_History']=pred
print (pred)

[ 1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  0.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.]

In [43]:
#Combine the data sets
df_all=pd.concat([train,test],axis=0)

In [44]:
df_all.isnull().sum()
#No NUll values are presentin the df_all data set
#We can run Logistic Regression

ApplicantIncome            0
CoapplicantIncome          0
LoanAmount                 0
Loan_Amount_Term           0
Credit_History             0
Gender_Male                0
Married_Yes                0
Dependents_1               0
Dependents_2               0
Dependents_3+              0
Education_Not Graduate     0
Self_Employed_Yes          0
Property_Area_Semiurban    0
Property_Area_Urban        0
Loan_Status_Y              0
dtype: int64

In [45]:
#split back into the original train & test 
train2=df_all.head(len(train_data))
test2=df_all.tail(len(test_data))

In [46]:
X_train=train2.drop(['Loan_Status_Y'],axis=1)
Y_train=train2['Loan_Status_Y']
X_test=test2.drop(['Loan_Status_Y'],axis=1)
Y_test=test2['Loan_Status_Y']

In [47]:
#Running Logistic Regression
#lets start buliding the model
from sklearn.linear_model import LogisticRegression
log_reg=LogisticRegression(C = 1e9)

In [48]:
#predict on train data
log_reg.fit(X_train,Y_train)
pred_train=log_reg.predict(X_train)
pd.crosstab(Y_train,pred_train)

col_0           0    1
Loan_Status_Y
0              87   97
1               7  423

In [49]:
accuracy= (87+423)/(87+423+1+97)
print(accuracy)

0.8388157894736842

In [50]:
print ("the coefficients are "+ str(log_reg.coef_))
print ("the intercept is "+ str(log_reg.intercept_))

the coefficients are [[  3.13042115e-09  -4.58435042e-05  -2.40216130e-03  -5.57586143e-03
    3.59453145e+00   3.49795001e-02   4.80243217e-01  -3.04306807e-01
    1.96405058e-01   6.99980620e-02  -5.29991149e-01  -1.14096165e-01
    8.77138740e-01   1.63889755e-01]]
the intercept is [-0.29531336]

In [51]:
#Checking the most imprtant variables
import statsmodels.discrete.discrete_model as sm
from statsmodels.api import add_constant
X2 = add_constant(X_train)

In [52]:
logit = sm.Logit(Y_train, X2)

In [53]:
result = logit.fit()
print (result.summary())

Optimization terminated successfully.
         Current function value: inf
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:          Loan_Status_Y   No. Observations:                  614
Model:                          Logit   Df Residuals:                      599
Method:                           MLE   Df Model:                           14
Date:                Sat, 24 Feb 2018   Pseudo R-squ.:                    -inf
Time:                        07:42:05   Log-Likelihood:                   -inf
converged:                       True   LL-Null:                       -153.17
                                        LLR p-value:                     1.000
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                      -2.9421      0.900     -3.271      0.001      -4.705      -1.179
ApplicantIncome          5.814e-06   2.56e-05      0.227      0.821   -4.44e-05    5.61e-05
CoapplicantIncome       -4.087e-05   4.22e-05     -0.969      0.333      -0.000    4.18e-05
LoanAmount                 -0.0019      0.002     -1.091      0.275      -0.005       0.002
Loan_Amount_Term           -0.0008      0.002     -0.417      0.677      -0.005       0.003
Credit_History              4.1422      0.426      9.727      0.000       3.308       4.977
Gender_Male                 0.1910      0.312      0.612      0.540      -0.420       0.802
Married_Yes                 0.4926      0.266      1.854      0.064      -0.028       1.013
Dependents_1               -0.2453      0.322     -0.762      0.446      -0.876       0.386
Dependents_2                0.2211      0.347      0.637      0.524      -0.459       0.901
Dependents_3+               0.2548      0.452      0.564      0.573      -0.631       1.141
Education_Not Graduate     -0.4037      0.267     -1.511      0.131      -0.927       0.120
Self_Employed_Yes          -0.1106      0.328     -0.337      0.736      -0.754       0.533
Property_Area_Semiurban     1.1126      0.287      3.874      0.000       0.550       1.675
Property_Area_Urban         0.3677      0.268      1.370      0.171      -0.158       0.894
===========================================================================================

In [54]:
X_train=train2.drop(['Loan_Status_Y','ApplicantIncome','CoapplicantIncome','Loan_Amount_Term','Gender_Male','Dependents_1','Dependents_2','Dependents_3+','Education_Not Graduate','Self_Employed_Yes','Property_Area_Semiurban','Property_Area_Urban'],axis=1)
Y_train=train2['Loan_Status_Y']
X_test=test2.drop(['Loan_Status_Y','ApplicantIncome','CoapplicantIncome','Loan_Amount_Term','Gender_Male','Dependents_1','Dependents_2','Dependents_3+','Education_Not Graduate','Self_Employed_Yes','Property_Area_Semiurban','Property_Area_Urban'],axis=1)
Y_test=test2['Loan_Status_Y']

In [55]:
#Running Logistic Regression second time
#lets start buliding the model
from sklearn.linear_model import LogisticRegression
log_reg=LogisticRegression(C = 1e9)

In [56]:
#predict on train data
log_reg.fit(X_train,Y_train)
pred_train=log_reg.predict(X_train)
pd.crosstab(Y_train,pred_train)

col_0           0    1
Loan_Status_Y
0              86   98
1               7  423

In [57]:
#predict on test
pred=log_reg.predict(X_test)#to get the output as 1's and 0's
#by assuming t=0.5
#confusion matrix
pd.crosstab(Y_test,pred)

col_0           0    1
Loan_Status_Y
0              55   30
1               1  281

In [58]:
print("Accuracy on Test is " + str((55+281)/(55+30+1+281)))

Accuracy on Test is 0.9155313351498637